section.about.section
  h2.about__title.title.title--center О НАС
  .about__content
    .about__item
      .item__wrap
        picture.picture
          source(srcset="../img/about/icon/award/award.webp, ../img/about/icon/award/award@2x.webp 2x", type="image/webp", class="img")
          img(src="#", alt="icon", srcset="../img/about/icon/award/award.png, ../img/about/icon/award/award@2x.png 2x")
      p.item__text.text--center 
        strong.item__text--bold Мы производители 
        | Вы получите гарантию лучших цен
    .about__item
      .item__wrap
        picture.picture
          source(srcset="../img/about/icon/truck/truck.webp, ../img/about/icon/truck/truck@2x.webp 2x", type="image/webp", class="img")
          img(src="#", alt="icon", srcset="../img/about/icon/truck/truck.jpg, ../img/about/icon/truck/truck@2x.jpg 2x")
      p.item__text.text--center 
        strong.item__text--bold Бесплатная доставка
        | по всей России
    .about__item
      .item__wrap
        picture.picture
          source(srcset="../img/about/icon/wallet/wallet.webp, ../img/about/icon/wallet/wallet@2x.webp 2x", type="image/webp", class="img")
          img(src="#", alt="icon", srcset="../img/about/icon/wallet/wallet.jpg, ../img/about/icon/wallet/wallet@2x.jpg 2x")
      p.item__text.text--center 
        strong.item__text--bold Ниже оптовых цен
        | конкурентов на 17-23%
    .about__item
      .item__wrap
        picture.picture
          source(srcset="../img/about/icon/home/home.webp, ../img/about/icon/home/home@2x.webp 2x", type="image/webp", class="img")
          img(src="#", alt="icon", srcset="../img/about/icon/home/home.jpg, ../img/about/icon/home/home@2x.jpg 2x")
      p.item__text.text--center 
        strong.item__text--bold 163000 семей
        | встретили 2015 год с нами
    