.artificial-spruce.section#artificial-spruce
  .container
    h2.title.title--center.artificial-spruce__title Каталог искусственных елок
    .artificial-spruce__wrap
      svg.icon.icon--left.artificial-spruce__icon
        use(xlink:href="./img/sprite.svg#arrow-left")
      .artificial-spruce__content
        .spruce-item
          .spruce-item__wrap
            picture.picture.spruce-item__picture
              source(srcset="./img/artificial-spruce/spruce/spruce.webp, ./img/artificial-spruce/spruce/spruce@2x.webp 2x", type="image/webp", class="img")
              img(src="#", alt="spruce", srcset="./img/artificial-spruce/spruce/spruce.jpg, ./img/artificial-spruce/spruce/spruce@2x.jpg 2x", class="img")
            h3.spruce-item__title Датская ёлка (1-1,25 метров)
            p.spruce-item__description Небольшое описание елок на&nbsp;2 строки.
            span.spruce-item__price Цена за 10 шт. - 
              strong.spruce-item__price--bold 1 500 руб.
            span.spruce-item__price Цена за 50 шт. - 
              strong.spruce-item__price--bold 5 500 руб.
            span.spruce-item__price Цена за 100 шт. - 
              strong.spruce-item__price--bold 11 500 руб.
          button.button.button--red.spruce-item__button.request
            span.button__text оставить заявку
        .spruce-item
          .spruce-item__wrap
            picture.picture.spruce-item__picture
              source(srcset="./img/artificial-spruce/spruce/spruce.webp, ./img/artificial-spruce/spruce/spruce@2x.webp 2x", type="image/webp", class="img")
              img(src="#", alt="spruce", srcset="./img/artificial-spruce/spruce/spruce.jpg, ./img/artificial-spruce/spruce/spruce@2x.jpg 2x", class="img")
            h3.spruce-item__title Датская ёлка (1-1,25 метров)
            p.spruce-item__description Небольшое описание елок на&nbsp;2 строки.
            span.spruce-item__price Цена за 10 шт. - 
              strong.spruce-item__price--bold 1 500 руб.
            span.spruce-item__price Цена за 50 шт. - 
              strong.spruce-item__price--bold 5 500 руб.
            span.spruce-item__price Цена за 100 шт. - 
              strong.spruce-item__price--bold 11 500 руб.
          button.button.button--red.spruce-item__button.request
            span.button__text оставить заявку
        .spruce-item
          .spruce-item__wrap
            picture.picture.spruce-item__picture
              source(srcset="./img/artificial-spruce/spruce/spruce.webp, ./img/artificial-spruce/spruce/spruce@2x.webp 2x", type="image/webp", class="img")
              img(src="#", alt="spruce", srcset="./img/artificial-spruce/spruce/spruce.jpg, ./img/artificial-spruce/spruce/spruce@2x.jpg 2x", class="img")
            h3.spruce-item__title Датская ёлка (1-1,25 метров)
            p.spruce-item__description Небольшое описание елок на&nbsp;2 строки.
            span.spruce-item__price Цена за 10 шт. - 
              strong.spruce-item__price--bold 1 500 руб.
            span.spruce-item__price Цена за 50 шт. - 
              strong.spruce-item__price--bold 5 500 руб.
            span.spruce-item__price Цена за 100 шт. - 
              strong.spruce-item__price--bold 11 500 руб.
          button.button.button--red.spruce-item__button.request
            span.button__text оставить заявку
        .spruce-item
          .spruce-item__wrap
            picture.picture.spruce-item__picture
              source(srcset="./img/artificial-spruce/spruce/spruce.webp, ./img/artificial-spruce/spruce/spruce@2x.webp 2x", type="image/webp", class="img")
              img(src="#", alt="spruce", srcset="./img/artificial-spruce/spruce/spruce.jpg, ./img/artificial-spruce/spruce/spruce@2x.jpg 2x", class="img")
            h3.spruce-item__title Датская ёлка (1-1,25 метров)
            p.spruce-item__description Небольшое описание елок на&nbsp;2 строки.
            span.spruce-item__price Цена за 10 шт. - 
              strong.spruce-item__price--bold 1 500 руб.
            span.spruce-item__price Цена за 50 шт. - 
              strong.spruce-item__price--bold 5 500 руб.
            span.spruce-item__price Цена за 100 шт. - 
              strong.spruce-item__price--bold 11 500 руб.
          button.button.button--red.spruce-item__button.request
            span.button__text оставить заявку
        .spruce-item
          .spruce-item__wrap
            picture.picture.spruce-item__picture
              source(srcset="./img/artificial-spruce/spruce/spruce.webp, ./img/artificial-spruce/spruce/spruce@2x.webp 2x", type="image/webp", class="img")
              img(src="#", alt="spruce", srcset="./img/artificial-spruce/spruce/spruce.jpg, ./img/artificial-spruce/spruce/spruce@2x.jpg 2x", class="img")
            h3.spruce-item__title Датская ёлка (1-1,25 метров)
            p.spruce-item__description Небольшое описание елок на&nbsp;2 строки.
            span.spruce-item__price Цена за 10 шт. - 
              strong.spruce-item__price--bold 1 500 руб.
            span.spruce-item__price Цена за 50 шт. - 
              strong.spruce-item__price--bold 5 500 руб.
            span.spruce-item__price Цена за 100 шт. - 
              strong.spruce-item__price--bold 11 500 руб.
          button.button.button--red.spruce-item__button.request
            span.button__text оставить заявку
        .spruce-item
          .spruce-item__wrap
            picture.picture.spruce-item__picture
              source(srcset="./img/artificial-spruce/spruce/spruce.webp, ./img/artificial-spruce/spruce/spruce@2x.webp 2x", type="image/webp", class="img")
              img(src="#", alt="spruce", srcset="./img/artificial-spruce/spruce/spruce.jpg, ./img/artificial-spruce/spruce/spruce@2x.jpg 2x", class="img")
            h3.spruce-item__title Датская ёлка (1-1,25 метров)
            p.spruce-item__description Небольшое описание елок на&nbsp;2 строки.
            span.spruce-item__price Цена за 10 шт. - 
              strong.spruce-item__price--bold 1 500 руб.
            span.spruce-item__price Цена за 50 шт. - 
              strong.spruce-item__price--bold 5 500 руб.
            span.spruce-item__price Цена за 100 шт. - 
              strong.spruce-item__price--bold 11 500 руб.
          button.button.button--red.spruce-item__button.request
            span.button__text оставить заявку
        .spruce-item
          .spruce-item__wrap
            picture.picture.spruce-item__picture
              source(srcset="./img/artificial-spruce/spruce/spruce.webp, ./img/artificial-spruce/spruce/spruce@2x.webp 2x", type="image/webp", class="img")
              img(src="#", alt="spruce", srcset="./img/artificial-spruce/spruce/spruce.jpg, ./img/artificial-spruce/spruce/spruce@2x.jpg 2x", class="img")
            h3.spruce-item__title Датская ёлка (1-1,25 метров)
            p.spruce-item__description Небольшое описание елок на&nbsp;2 строки.
            span.spruce-item__price Цена за 10 шт. - 
              strong.spruce-item__price--bold 1 500 руб.
            span.spruce-item__price Цена за 50 шт. - 
              strong.spruce-item__price--bold 5 500 руб.
            span.spruce-item__price Цена за 100 шт. - 
              strong.spruce-item__price--bold 11 500 руб.
          button.button.button--red.spruce-item__button.request
            span.button__text оставить заявку
        .spruce-item
          .spruce-item__wrap
            picture.picture.spruce-item__picture
              source(srcset="./img/artificial-spruce/spruce/spruce.webp, ./img/artificial-spruce/spruce/spruce@2x.webp 2x", type="image/webp", class="img")
              img(src="#", alt="spruce", srcset="./img/artificial-spruce/spruce/spruce.jpg, ./img/artificial-spruce/spruce/spruce@2x.jpg 2x", class="img")
            h3.spruce-item__title Датская ёлка (1-1,25 метров)
            p.spruce-item__description Небольшое описание елок на&nbsp;2 строки.
            span.spruce-item__price Цена за 10 шт. - 
              strong.spruce-item__price--bold 1 500 руб.
            span.spruce-item__price Цена за 50 шт. - 
              strong.spruce-item__price--bold 5 500 руб.
            span.spruce-item__price Цена за 100 шт. - 
              strong.spruce-item__price--bold 11 500 руб.
          button.button.button--red.spruce-item__button.request
            span.button__text оставить заявку
      svg.icon.icon--right.artificial-spruce__icon
        use(xlink:href="./img/sprite.svg#arrow-right")