.contacts
  .container.contacts__container
    .contacts__content
      h2.title.contacts__title КОНТАКТЫ
      ul.contacts__list
        li.contacts__text.contacts__text--address Москва, Павелецкая наб., дом 2, строение 5
        li.contacts__text.contacts__text--schedule Работаем без выходных с 9:00 до 18:00
        li.contacts__text.contacts__text--tel
          a(href="tel:84991364476", class="contacts__tel") 8 (499) 136-44-76