.counter
  .container.counter__container
    p.counter__text У нас уже заказали:
    .counter__amount
      .counter__number
        .number 1
      .counter__number 
        .number 5
    span.counter__text человек