.decorations-spruce.section#decorations-spruce
  .container
    h2.title.title--center.decorations-spruce__title Каталог украшений для елок
    .decorations-spruce__wrap
      svg.icon.icon--left.decorations-spruce__icon
        use(xlink:href="./img/sprite.svg#arrow-left")
      .decorations-spruce__content
        .spruce-item
          .spruce-item__wrap
            picture.picture.spruce-item__picture
              source(srcset="./img/decorations-spruce/decoration/decoration.webp, ./img/decorations-spruce/decoration/decoration@2x.webp 2x", type="image/webp", class="img")
              img(src="#", alt="decoration", srcset="./img/decorations-spruce/decoration/decoration.jpg, ./img/decorations-spruce/decoration/decoration@2x.jpg 2x", class="img")
            h3.spruce-item__title Датская ёлка (1-1,25 метров)
            p.spruce-item__description Небольшое описание елок на&nbsp;2 строки.
            span.spruce-item__price Цена за 10 шт. - 
              strong.spruce-item__price--bold 1 500 руб.
            span.spruce-item__price Цена за 50 шт. - 
              strong.spruce-item__price--bold 5 500 руб.
            span.spruce-item__price Цена за 100 шт. - 
              strong.spruce-item__price--bold 11 500 руб.
          button.button.button--red.spruce-item__button
            span.button__text оставить заявку
        .spruce-item
          .spruce-item__wrap
            picture.picture.spruce-item__picture
              source(srcset="./img/decorations-spruce/decoration/decoration.webp, ./img/decorations-spruce/decoration/decoration@2x.webp 2x", type="image/webp", class="img")
              img(src="#", alt="decoration", srcset="./img/decorations-spruce/decoration/decoration.jpg, ./img/decorations-spruce/decoration/decoration@2x.jpg 2x", class="img")
            h3.spruce-item__title Датская ёлка (1-1,25 метров)
            p.spruce-item__description Небольшое описание елок на&nbsp;2 строки.
            span.spruce-item__price Цена за 10 шт. - 
              strong.spruce-item__price--bold 1 500 руб.
            span.spruce-item__price Цена за 50 шт. - 
              strong.spruce-item__price--bold 5 500 руб.
            span.spruce-item__price Цена за 100 шт. - 
              strong.spruce-item__price--bold 11 500 руб.
          button.button.button--red.spruce-item__button
            span.button__text оставить заявку
        .spruce-item
          .spruce-item__wrap
            picture.picture.spruce-item__picture
              source(srcset="./img/decorations-spruce/decoration/decoration.webp, ./img/decorations-spruce/decoration/decoration@2x.webp 2x", type="image/webp", class="img")
              img(src="#", alt="decoration", srcset="./img/decorations-spruce/decoration/decoration.jpg, ./img/decorations-spruce/decoration/decoration@2x.jpg 2x", class="img")
            h3.spruce-item__title Датская ёлка (1-1,25 метров)
            p.spruce-item__description Небольшое описание елок на&nbsp;2 строки.
            span.spruce-item__price Цена за 10 шт. - 
              strong.spruce-item__price--bold 1 500 руб.
            span.spruce-item__price Цена за 50 шт. - 
              strong.spruce-item__price--bold 5 500 руб.
            span.spruce-item__price Цена за 100 шт. - 
              strong.spruce-item__price--bold 11 500 руб.
          button.button.button--red.spruce-item__button
            span.button__text оставить заявку
        .spruce-item
          .spruce-item__wrap
            picture.picture.spruce-item__picture
              source(srcset="./img/decorations-spruce/decoration/decoration.webp, ./img/decorations-spruce/decoration/decoration@2x.webp 2x", type="image/webp", class="img")
              img(src="#", alt="decoration", srcset="./img/decorations-spruce/decoration/decoration.jpg, ./img/decorations-spruce/decoration/decoration@2x.jpg 2x", class="img")
            h3.spruce-item__title Датская ёлка (1-1,25 метров)
            p.spruce-item__description Небольшое описание елок на&nbsp;2 строки.
            span.spruce-item__price Цена за 10 шт. - 
              strong.spruce-item__price--bold 1 500 руб.
            span.spruce-item__price Цена за 50 шт. - 
              strong.spruce-item__price--bold 5 500 руб.
            span.spruce-item__price Цена за 100 шт. - 
              strong.spruce-item__price--bold 11 500 руб.
          button.button.button--red.spruce-item__button
            span.button__text оставить заявку
      svg.icon.icon--right.decorations-spruce__icon
        use(xlink:href="./img/sprite.svg#arrow-right")