section.section.discount
  .container.discount__container
    .discount__content
      h2.discount__title.title--center Закажите до 10 ноября
        span.discount__subtitle на сумму от 100 000 рублей и получите дополнительную скидку 15%
      p.discount__text.text__center В декабре скидка 5%
      form(action="#", method="get", class="form discount__form")
        input(type="text", name="form-discount--name", placeholder="Ваше имя", class="input discount__input")
        input(type="tel", name="form-discount--tel", placeholder="Ваш телефон", class="input discount__input")
        button(type="submit", class="button button--green discount__button")
          span.button__text ОСТАВИТЬ ЗАЯВКУ

