section.hero
  .container
    .hero__content
      h1.hero__title
        span.hero__title--bold Используйте все возможности 
        span.hero__title--bold.hero__title--mobile Используйте все 
        span.hero__title--bold.hero__title--mobile возможности 
        span.hero__subtitle приближающегося праздника!
        span.hero__subtitle.hero__subtitle--mobile приближающегося
        span.hero__subtitle.hero__subtitle--mobile праздника!
      p.hero__text Закажите новогодний набор сейчас и получите дополнительную 
        strong.hero__text--bold скидку 15% 
        | от оптовых цен!
      form(action="#", method="get", class="form hero__form")
        h3.form__title.title--center ПОЛУЧИ ОПТОВЫЕ ЦЕНЫ СЕЙЧАС
        .form__content.form__content--flex
          input(type="text", name="form-hero--name", placeholder="Ваше имя", class="input hero__input", required)
          input(type="tel", name="form-hero--tel", placeholder="Ваш телефон", class="input hero__input", required)
        button(type="submit", class="button button--red hero__button") 
          span.button__text СКАЧАТЬ ПРАЙС
