.menu
  .container
    nav.menu__nav
      ul.menu__list
        li.menu__item
          a(href="#", class="menu__link") Искусственные елки
        li.menu__item
          a(href="#", class="menu__link") Живые елки
        li.menu__item
          a(href="#", class="menu__link") Елочки из конфет
        li.menu__item
          a(href="#", class="menu__link") Украшения для елок
                         