.popup__wrapper
  .popup__block--callback.popup__block
    h3.popup__title.title.title--center Заказ обратного звонка
    p.popup__text.text--center Оставьте заявку и мы Вам перезвоним!
    form(action="#", method="get", class="form popup__form popup__form--callback")
      input(type="text", name="form-callback--name", placeholder="Ваше имя", class="input popup__input")
      input(type="tel", name="form-callback--tel", placeholder="Ваш телефон", class="input popup__input")
      button(type="submit", class="button button--red popup__button") 
        span.button__text Отправить заявку
    button.popup__close 
      svg.icon.icon__close
        use(xlink:href="./img/sprite.svg#close")
  .popup__block--request.popup__block
    h3.popup__title.title.title--center Быстрая заявка
    p.popup__text.text--center Оставьте заявку и мы Вам перезвоним!
    form(action="#", method="get", class="form popup__form popup__form--request")
      .form__wrap
        p.form__text Товар: 
          output.form__output.form__output--product Ель
        select(name="form-request--number", class="form__select")
          option(value="10", class="form__option") 10 шт.
          option(value="50", class="form__option") 50 шт.
          option(value="100", class="form__option") 100 шт.
      p.form__text Сумма заказа: 
        output.form__output.form__output--sum 10000 
        | рублей.
      input(type="text", name="form-request--name", placeholder="Ваше имя", class="input popup__input")
      input(type="tel", name="form-request--tel", placeholder="Ваш телефон", class="input popup__input")
      button(type="submit", class="button button--red popup__button") 
        span.button__text Отправить заявку
    button.popup__close 
      svg.icon.icon__close
        use(xlink:href="./img/sprite.svg#close")
  .popup__block--set.popup__block
    h3.popup__title.title.title--center Заказ набора
    p.popup__text.text--center Оставьте заявку и мы Вам перезвоним!
    form(action="#", method="get", class="form popup__form popup__form--set")
      p.form__text Вы заказываете: 
        output.form__output.form__output--product Ель
      p.form__text Сумма заказа: 
        output.form__output.form__output--sum 10000 
        | рублей.
      input(type="text", name="form-set--name", placeholder="Ваше имя", class="input popup__input")
      input(type="tel", name="form-set--tel", placeholder="Ваш телефон", class="input popup__input")
      button(type="submit", class="button button--green popup__button") 
        span.button__text Отправить заявку
    button.popup__close 
      svg.icon.icon__close
        use(xlink:href="./img/sprite.svg#close")
  .popup__block--thanks.popup__block
    h3.popup__title.title.title--center Спасибо за вашу заявку!
    p.popup__text.text--center Мы свяжемся с Вами в ближайшее время!
    button.popup__close 
      svg.icon.icon__close
        use(xlink:href="./img/sprite.svg#close")