.section.reviews
  .container
    h2.title.title--center.reviews__title Отзывы о нас
    .reviews__wrap
      svg.icon.icon--left.reviews__icon
        use(xlink:href="./img/sprite.svg#arrow-left")
      .reviews__content 
        .client
          picture.picture.client__picture
            source(srcset="./img/reviews/client/client.webp, ./img/reviews/client/client@2x.webp 2x", type="image/webp", class="img")
            img(src="#", alt="client", srcset="./img/reviews/client/client.jpg, ./img/reviews/client/client@2x.jpg 2x", class="img")
          .client__content
            span.client__name Имя: Иван
            span.client__thing Заказывал: Датская ёлка
            span.client__amount Сумма заказа: 11 500 рублей
            p.client__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов
            button.button.button--green.client__button.set 
              span.button__text Заказать этот же набор
        .client
          picture.picture.client__picture
            source(srcset="./img/reviews/client/client.webp, ./img/reviews/client/client@2x.webp 2x", type="image/webp", class="img")
            img(src="#", alt="client", srcset="./img/reviews/client/client.jpg, ./img/reviews/client/client@2x.jpg 2x", class="img")
          .client__content
            span.client__name Имя: Иван
            span.client__thing Заказывал: Датская ёлка
            span.client__amount Сумма заказа: 11 500 рублей
            p.client__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов
            button.button.button--green.client__button.set 
              span.button__text Заказать этот же набор
        .client
          picture.picture.client__picture
            source(srcset="./img/reviews/client/client.webp, ./img/reviews/client/client@2x.webp 2x", type="image/webp", class="img")
            img(src="#", alt="client", srcset="./img/reviews/client/client.jpg, ./img/reviews/client/client@2x.jpg 2x", class="img")
          .client__content
            span.client__name Имя: Иван
            span.client__thing Заказывал: Датская ёлка
            span.client__amount Сумма заказа: 11 500 рублей
            p.client__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов
            button.button.button--green.client__button.set 
              span.button__text Заказать этот же набор
        .client
          picture.picture.client__picture
            source(srcset="./img/reviews/client/client.webp, ./img/reviews/client/client@2x.webp 2x", type="image/webp", class="img")
            img(src="#", alt="client", srcset="./img/reviews/client/client.jpg, ./img/reviews/client/client@2x.jpg 2x", class="img")
          .client__content
            span.client__name Имя: Иван
            span.client__thing Заказывал: Датская ёлка
            span.client__amount Сумма заказа: 11 500 рублей
            p.client__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов
            button.button.button--green.client__button.set 
              span.button__text Заказать этот же набор
      svg.icon.icon--right.reviews__icon
        use(xlink:href="./img/sprite.svg#arrow-right")