section.section.sets
  .container
    h2.title.title--center.sets__title Наши эффективные наборы
    p.text.text--center.sets__text Мы разработали для Вас готовые наборы на основе статистики наших клиентов!
    .sets__wrap
      svg.icon.icon--left.sets__icon
        use(xlink:href="./img/sprite.svg#arrow-left")
      .sets__content
        .sets__card
          .sets__sizes
            picture.picture.sets__picture
              source(srcset="../img/sets/spruces/spruces.webp, ../img/sets/spruces/spruces@2x.webp 2x", type="image/webp")
              img(src="#", alt="spruces", srcset="../img/sets/spruces/spruces.jpg, ../img/sets/spruces/spruces@2x.jpg 2x")
            ul.sets__list
              li.sets__item 40 см. - 100 шт.
              li.sets__item 80 см. - 50 шт.
              li.sets__item 1500 см. - 30 шт.
              li.sets__item 2000 см. - 50 шт.
          p.sets__timing Срок реализации - 
            strong.sets__timing--bold 1 месяц
          p.sets__timing Ваша закупка - 
            strong.sets__timing--bold 1 месяц
          p.sets__timing Ваша закупка - 
            strong.sets__timing--bold 1 месяц
          button.button.button--red.sets__button.request
            span.button__text ОСТАВить заявку
        .sets__card
          .sets__sizes
            picture.picture.sets__picture
              source(srcset="../img/sets/spruces/spruces.webp, ../img/sets/spruces/spruces@2x.webp 2x", type="image/webp")
              img(src="#", alt="spruces", srcset="../img/sets/spruces/spruces.jpg, ../img/sets/spruces/spruces@2x.jpg 2x")
            ul.sets__list
              li.sets__item 40 см. - 100 шт.
              li.sets__item 80 см. - 50 шт.
              li.sets__item 1500 см. - 30 шт.
              li.sets__item 2000 см. - 50 шт.
          p.sets__timing Срок реализации - 
            strong.sets__timing--bold 1 месяц
          p.sets__timing Ваша закупка - 
            strong.sets__timing--bold 1 месяц
          p.sets__timing Ваша закупка - 
            strong.sets__timing--bold 1 месяц
          button.button.button--red.sets__button.request 
            span.button__text ОСТАВить заявку
      svg.icon.icon--right.sets__icon
          use(xlink:href="./img/sprite.svg#arrow-right")