extends ./layouts/layout

block content
  include ./includes/header
  include ./includes/menu
  include ./includes/hero
  include ./includes/about
  include ./includes/discount
  include ./includes/counter
  include ./includes/sets
  include ./includes/reviews
  include ./includes/production
  include ./includes/artificial-spruce
  include ./includes/natural-spruce