.production {
  background: #fff url('../img/production/background/production-bg.jpg') center / cover no-repeat;

  &__title {
    margin-bottom: 2.222em;
  }

  &__wrap {
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 767px) {
      max-width: 38.928rem;
      margin: 0 auto;
    }

    @media screen and (max-width: 575px) {
      max-width: 23.583rem;
      margin: 0 auto;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    
    @media screen and (max-width: 767px) {
      padding-left: 1.428rem;
      padding-right: 1.428rem;
    }

    @media screen and (max-width: 575px) {
      padding-left: 1.666rem;
      padding-right: 1.666rem;
    }
  }

  &__icon {
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
}