.sets {
  background: lighten($color-dark, 10%) url('../img/sets/background/sets-bg.jpg') center / cover no-repeat;

  &__title {
    color: $color-light;
    margin-bottom: 0.555em;
  }
  
  &__text {
    color: $color-light;
    font-size: 1.125rem;
    margin-bottom: 3.333em;
  }

  &__wrap {
    overflow: hidden;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: 767px) {
      max-width: 27.857rem;
      height: 25.714rem;
      padding-left: 1.428rem;
      padding-right: 1.428rem;
    }

    @media screen and (max-width: 575px) {
      max-width: 26rem;
      padding-left: 1.666rem;
      padding-right: 1.666rem;
    }
  }

  &__icon {
    fill: $color-light;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      position: absolute;
      top: 0;
      left: 1.428rem;
    }

    @media screen and (max-width: 575px) {
      left: 1.666rem;
    }
  }

  &__card {
    width: 49%;
    max-width: 28.75rem;
    background-color: $color-light;
    padding: 1.875rem 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 991px) {
      padding-left: 1.875rem;
      padding-right: 1.875rem;
    }

    @media screen and (max-width: 767px) {
      min-width: 25rem;

      &:not(:last-of-type) {
        margin-right: 1.428rem;
      }
    }

    @media screen and (max-width: 575px) {
      min-width: 22.666rem;
      padding: 1rem 0.5rem;

      &:not(:last-of-type) {
        margin-right: 1.666rem;
      }
    }
  }

  &__sizes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.875rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    padding-left: 2.25rem;

    &:not(:last-of-type) {
      margin-bottom: 1.562em;
    }

    &::before {
      content: url('../img/sets/icon/icon-spruce.png');
      position: absolute;
      top: -0.625rem;
      left: 0;
    }
  }

  &__timing {
    font-size: 1.25rem;

    &--bold {
      font-weight: 700;
    }
  }

  &__button {
    margin-top: 1.875rem;
    padding: 1em 2.687em;
    text-transform: uppercase;
  }
}