.sweets-spruce {
  background: lighten($color-dark, 15%) url('../img/sweets-spruce/background/sweets-spruce-bg.jpg') center / cover no-repeat;

  &__title {
    margin-bottom: 1.388em;
    color: $color-light;
  }
  
  &__wrap {
    overflow: hidden;
    position: relative;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      height: 30rem;
      max-width: 31.785rem;
      padding-left: 1.428rem;
      padding-right: 1.428rem;
    }
  
    @media screen and (max-width: 575px) {
      max-width: 17.083rem;
      padding-left: 1.666rem;
      padding-right: 1.666rem;
    }
  }
  
  &__content {
    display: flex;
    justify-content: center;
  
    @media screen and (max-width: 767px) {
      position: absolute;
      top: 0;
      left: 1.428rem;
    }
  
    @media screen and (max-width: 575px) {
      left: 1.666rem;
    }
  }
  
  &__icon {
    fill: $color-light;
  
    // @media screen and (max-width: 767px) {
    //   display: block;
    // }
  }
}
